
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$highlightBackgroundColor : #152B42;
$textColor : #B1B1B1;
$highlightTextColor : #FFF;
$linkColor : #7A8F9C;
$highlightLinkColor : #1C1259;
$backgroundColor : #fff;
$accentColorA : #FF7477;
$accentColorB : #FF7477;
$mutedColorA  : #FF7477;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}